.pricing {
  background: var(--bg-color);
  padding: var(--section-padding);
}
.pricing__wrapper {
  display: flex;
  flex-direction: column;
}

.pricing__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.pricing__title {
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
   color: var(--secondary-color);
  background: var(--background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 38px;
  font-weight: 600;
}

.pricing__subtitle {
  font-size: 22px;
  line-height: 1.6;
  font-weight: 300;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

.pricing__content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.pricing__column {
  background: var(--bg-color-main);
  padding: 15px 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
}

.pricing__item-title-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.pricing__item-title {
  font-size: 18px;
  font-weight: 600;
   color: var(--secondary-color);
  background: var(--background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.pricing__item-price {
  font-size: 18px;
   color: var(--secondary-color);
  background: var(--background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.pricing__item-description {
  font-size: 16px;
  font-weight: 300;
}

.pricing__item-note {
  padding-top: 45px;
}

.pricing__note {
  text-decoration: underline;
  font-size: 16px;
  color: rgb(131, 131, 131);
}

/* Tablet styles */
@media (max-width: 992px) {
  .pricing__header {
    margin-bottom: 60px;
  }

  .pricing__title {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .pricing__subtitle {
    font-size: 18px;
    line-height: 1.4;
    max-width: 100%;
  }

  .pricing__content {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .pricing__item-title,
  .pricing__item-price {
    font-size: 18px;
  }

  .pricing__item-description {
    font-size: 16px;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .pricing__header {
    margin-bottom: 40px;
  }

  .pricing__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .pricing__subtitle {
    font-size: 16px;
  }

  .pricing__note {
    font-size: 14px;
  }
}
